

{% load static %}


<!-- Header section -->
 <!--::header part start::-->
 <header>
            
    <div class="logo">
      BokehApp
    </div>
    <nav class="active"> 
      
      <ul>
        <li>
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'starter' %}">Starter</a>
        </li>
        <li>
          <a href="{% url 'programming' %}">Programming</a>
        </li>

        <li>
          <a href="{% url 'combo' %}">Combo</a>
        </li>

        <li>
          <a href="{% url 'multi_plot' %}">Multiplot</a>
        </li>
        <li>
          <a href="{% url 'products' %}">Products</a>
        </li>
        <li>
          <a href="{% url 'pie' %}">Pie</a>
        </li>
        
       
        

       
      </ul>
    </nav>
    <div class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></div>
  
</header>
    <!-- Header part end-->